.menu-container{
    padding: 50px;
}
.menu{
    padding: 10px;
}
.menu-layout{
    padding: 30px;
    text-align: center;
}
.card-menu{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    min-height: 250px;
    margin: auto;
    margin-left: 20px;
    padding: 20px;
    background-color: #68AAEA;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    text-decoration: none;
}
.card-menu:hover{
    scale: 105%;
    transition: 0.2s ease-in-out;
}
.card-menu:last-of-type{
    margin-right: 0px;
}
.download-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #1F2933;
    color: white;
    font-size: 18px;
}
.delete-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #880000;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.table-view-container{
    padding: 40px 0px;
}
.table-view{
    width: 100%;
    font-size: 20px;
}
.table-view tbody tr td{
    padding: 10px;
    text-align: center;
    border: 1px #1F2933 solid;
}
.table-header-view{
    background-color: #68AAEA;
    color:#1F2933;
    font-size: 32px;;
}